<h2>Componente 1 (characters) - Nuestros amados politicos!</h2>

<div *ngFor="let politic of politics">
  <div *ngIf=politic.name>
    <h2> {{politic.name}}</h2>
    <h3> {{politic.politicParty}}</h3>
    <img [src]=politic.photoUrl width=200>
  </div>
</div> 
